@mixin x-fullScreenWithAbsolute() {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

@mixin x-middleBox() {
    @include x-fullScreenWithAbsolute();
    margin: auto;
}

@mixin x-bottomBox() {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
