@import "_todoMVC.scss";
@import "_dailyUI001.scss";
@import "_mixin.scss";
@import "_reddit.scss";

*, *:before, *:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

html, body, #content, .mainBox {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f8f8f8;
    font-family: 'Work Sans', 'Josefin Sans', Helvetica, Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

input, button {
    border: none;
    outline: none; /* disable the select highlight */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* disable the default layout of input. ex: checkbox... */
}

button {
    cursor: pointer;
}

.l-flex {
    display: flex;

    &-alignCenter {
        align-items: center;
    }

    &-between {
        @extend .l-flex;
        justify-content: space-between;
    }

    &-stretch {
        flex: 1;
    }
}

.c-btnLink {
    position: relative;
    transition: color 150ms;

    &:before {
        @include x-bottomBox();
        margin: auto;
        content: '';
        display: block;
        height: 1px;
        width: 0px;
        transition: width 150ms;
    }

    &:hover:before {
        width: 100%;
    }

    &-reddit:before {
        background-color: rgba(192, 91, 77, 0.8);
    }
}

.middleBox {
    @include x-middleBox();
}

.mainBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.navBox {
    width: 250px;
    height: 100%;

    padding-top: 30px;

    background-color: #29292B;
}

.navSection {
    padding: 10px 30px;
    padding-left: 0;
    -webkit-transition: all 150ms ease-in-out 0s;
    transition: all 150ms ease-in-out 0s;

    &.active {
        background-color: #222;
        box-shadow:
        inset 0 1px 2px -1px #0E0E0E,
        inset 0 -1px 2px -2px #191919;
    }
}

.navSectionTitle,
.navSectionItem {
    padding: 3px 0;
    padding-left: 30px;
}

.navSectionTitle {
    margin-bottom: 10px;

    font-size: 12px;
    font-weight: 700;

    color: #555;
    text-transform: uppercase;
}

.navSectionList {

}

.navSectionItem {
    margin-bottom: 10px;

    cursor: pointer;
    position: relative;

    color: #b8b8b8;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        display: block;
        width: 100%;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 0px;
        width: 0px;
        margin: auto;
        background-color: cadetblue;
        -webkit-transition: all 150ms ease-in-out 0s;
        transition: all 150ms ease-in-out 0s;
    }

    &:hover {
        color: cadetblue;
    }

    &.active {
        pointer-events: none;
        color: cadetblue;

        &:before {
            height: 20px;
            width: 3px;
        }
    }
}

.contentBox {
    position: relative;
    overflow: auto;
    box-shadow: -1px 0 4px -1px black;
    transition: all 150ms;
}

/* Google Loader */

.googleLoader {
    position: relative;
    margin: 0px auto;
    width: 60px;

    &:before {
        content:'';
        display: block;
        padding-top: 100%;
    }

    .circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
        transform-origin: center center;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation:
        googleLoaderDash 1.5s ease-in-out infinite,
        googleLoaderColor 6s ease-in-out infinite;
        stroke-linecap: round;
    }
}


@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes googleLoaderDash {
    0%{
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100%{
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes googleLoaderColor {
    100%, 0%{
        stroke: #d62d20;
    }
    40%{
        stroke: #0057e7;
    }
    66%{
        stroke: #008744;
    }
    80%, 90%{
        stroke: #ffa700;
    }
}

/* End Google Loader */
